.aboutSection {
  padding: 0 10px;
  box-sizing: border-box;
}

.squareProfile {
  object-fit: cover;
  border-radius: 15px;
}

.adminProfiles {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.adminCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
