.blogPosts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blogCard {
  /* border: solid 0.5px black; */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 48%;
  width: 350px;
  display: inline-block;
  box-sizing: border-box;
  min-height: 210px;
  position: relative;
  background-color: #fff;
  opacity: 0;
  /* transition: all 0.5s;
  filter: blur(50px);
  transform: translateY(100%); */
}

/* .blogCard:nth-child(2) {
  transition-delay: 100ms;
}
.blogCard:nth-child(3) {
  transition-delay: 150ms;
}
.blogCard:nth-child(4) {
  transition-delay: 200ms;
}
.blogCard:nth-child(5) {
  transition-delay: 250ms;
}
.blogCard:nth-child(6) {
  transition-delay: 300ms;
} */

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.blogCard h1 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
/*
.blogCard .profile {
  position: absolute;
  margin: 0;
  right: 5px;
  top: 5px;
} */

.authorDetails p {
  text-align: center;
  margin: -2px;
}

.readMore {
  position: absolute;
  bottom: 8px;
  margin: 0;
}

.blogLink {
  display: flex;
  align-items: center;
}

.blogLink h2 {
  margin: 0;
  font-size: 3rem;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
