.blogPosts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blogCard {
  /* border: solid 0.5px black; */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 48%;
  width: 350px;
  display: inline-block;
  box-sizing: border-box;
  min-height: 210px;
  position: relative;
  background-color: #fff;
}

.blogCard h1 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
/*
.blogCard .profile {
  position: absolute;
  margin: 0;
  right: 5px;
  top: 5px;
} */

.authorDetails p {
  text-align: center;
  margin: -2px;
}

.readMore {
  position: absolute;
  bottom: 8px;
  margin: 0;
}
