.button {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 0 0;
  width: fit-content;
}

.edit {
  background-color: #a8c7e7;
}

.new {
  background-color: rgb(0, 246, 205);
  position: fixed;
  bottom: 10px;
  border-radius: 50%;
  right: 0;
  border: none;
  /* height: 10px; */
  /* width: 10px; */
  padding: 10px 13px;
}

.delete {
  display: inline-block;
  background-color: #ff6961;
}

.submit {
  margin: 10px auto;
}
