.button {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 0 0;
  width: fit-content;
}

.edit {
  background-color: #a8c7e7;
}

.editProfileButton {
  position: absolute;
  margin: 0;
  right: 0;
}

.new {
  background-color: var(--highlight-color);
  position: fixed;
  bottom: 10px;
  border-radius: 50%;
  right: 0;
  border: none;
  padding: 18px 24px;
}

#__next > main > a {
  font-size: 2rem;
}

.commentButton {
  width: 100%;
  margin: 15px 0 10px;
}

.delete {
  display: inline-block;
  background-color: #ff6961;
}

.submit {
  margin: 10px auto;
  background-color: rgb(62, 167, 62);
  color: white;
  width: 100%;
  font-weight: bolder;
  border: 3px solid green;
}

.signIn {
  padding: 8px 10px;
  margin-right: 5px;
  color: #fff;
  background-color: #000;
  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
}

.commentSignIn {
  margin: 10px auto;
}

.upload {
  background-color: red;
  color: white;
  width: 100%;
  font-weight: bolder;
}
