.card {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 250px;
  margin: 0 20px;
  border-radius: 10px;
}

.recipeCard {
  box-shadow: 0px 0px 11px -4px rgba(148, 148, 148, 1);
  display: inline-block;
  /* border: solid rgb(212, 212, 212) 0.5px; */
  border-radius: 10px;
  margin: 10px;
  transition: all 0.3s ease-out;
  height: 450px;
  max-width: 250px;
  background-color: white;
  position: relative;
}

.layer {
  position: relative;
  height: 350px;
  width: 250px;
}

.recipeCard:hover .cardImage {
  opacity: 100;
}
.recipeCard:hover {
  transform: scale(1.04);
}

.cardImage {
  border-radius: 10px 10px 0 0;
  opacity: 85%;
}

.cardTitle {
  color: black;
  margin: 10px;
}
.cardTags {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
}

.tag {
  margin: 4px;
  color: #000;
  background-color: var(--highlight-color);
  padding: 5px 10px;
  border-radius: 14px;
  font-size: 0.7rem;
}

.horizontalSection {
  display: flex;
  overflow: auto;
  padding: 0px 10px 20px 0;

  /* -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
  scroll-snap-align: start; */
}

.horizontalSection::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1345px) {
  .horizontalSection {
    justify-content: center;
  }
}
