@import './navbar.css';
@import './card.css';
@import './searchPage.css';
@import './largeCard.css';
@import './showPage.css';
@import './profileEditPage.css';
@import './postForm.css';
@import './comments.css';
@import './button.css';
@import './HomePage.css';
@import './nothingFound.css';
@import './blogCard.css';
@import './footer.css';

body {
  padding-top: 50px;
  margin: 0;
}

.bodySection {
  max-width: 1000px;
  margin: 0 auto;
}

input,
textarea {
  font-family: inherit;
  padding: 5px 2px;
}

* {
  text-decoration: none;
  color: black;
}
