@import './navbar.css';
@import './card.css';
@import './searchPage.css';
@import './largeCard.css';
@import './showPage.css';
@import './profileEditPage.css';
@import './postForm.css';
@import './comments.css';

body {
  padding-top: 40px;
  margin: 0;
}

* {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
