@import './navbar.css';
@import './card.css';
@import './searchPage.css';
@import './largeCard.css';
@import './showPage.css';
@import './profileEditPage.css';
@import './postForm.css';
@import './comments.css';
@import './button.css';
@import './HomePage.css';
@import './nothingFound.css';
@import './blogCard.css';
@import './footer.css';
@import './aboutPage.css';
@import './BlogsPage.css';

:root {
  --highlight-color: rgb(255, 222, 57);
}

html {
  scroll-behavior: smooth;
}

#top {
  scroll-margin-top: 50px;
}

body {
  padding-top: 50px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

.bodySection {
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
}

input,
textarea {
  font-family: inherit;
  padding: 5px 2px;
}

* {
  text-decoration: none;
  color: black;
}

.detail {
  color: rgb(138, 138, 138);
  font-size: 0.7rem;
  margin: 5px;
}
