#newestPosts {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100%;
}

.blurb {
  margin: 0 15px;
}

.blurb > h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 10px 0;
}

.blurb > p {
  text-align: center;
}

.subTitle {
  font-size: 2.5rem;
  text-align: center;
  margin: 10px 0 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  /* height: calc(100% - 50px); */
  max-height: 700px;
  position: relative;
}

#newestPosts > div:nth-child(1) {
  width: 60%;
  height: 700px;
}
#newestPosts > div:nth-child(2),
#newestPosts > div:nth-child(3) {
  width: 40%;
  height: 350px;
}

#newestPosts > div.imageContainer > a > p {
  position: absolute;
  margin: 0;
  z-index: 1;
  background-color: rgb(255, 222, 57);
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 50px;
  left: 10px;
  top: 10px;
}

.blogSection {
  width: fit-content;
  max-width: 1445px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  padding: 0 20px 20px;
  box-sizing: border-box;
}
