.largeCard {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0px 0px 40px -20px rgb(0, 0, 0);
}

.largeCardImage {
  position: relative;
  height: 220px;
  width: 100%;
  max-width: 150px;
  min-width: 60px;
}

.largeCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.largeCardDetails > h2 {
  margin: 0;
}

.largeCardTags {
  display: flex;
  flex-wrap: wrap;
}

.details {
  display: flex;
  justify-content: space-between;
}
