nav {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  padding: 8px;
  height: 34px;
  background-color: white;
  box-shadow: 0px 0px 35px -8px rgba(0, 0, 0, 0.75);
}

#navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  /* vertical-align: middle; */
}

.navButtons > a {
  margin-right: 10px;
}

.loginOptions {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.profile {
  margin: 0 5px;
  border-radius: 50%;
}
