.postForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#formTitle {
  text-align: center;
  font-size: 2.5rem;
  margin: 10px;
}

.inputfields {
  display: flex;
}

.inputfields > * {
  margin: 5px;
}
.inputfields > textarea,
.inputfields > input {
  width: 100%;
}

#__next > main > section > fieldset {
  margin: 0 10px;
}

.formFeatures {
  display: flex;
  flex-direction: column;
}

.formFeatures > div {
  margin: 10px;
  margin-left: 0;
}

.descriptionControls > button {
  border-radius: 5px;
  padding: 4px 6px;
  margin: 4px;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #000;
}

.descriptionInput {
  border: 1px solid black;
}
