#recipeShowImageContainer {
  position: relative;
  max-width: 900px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#recipeShowImageContainer > h1 {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#recipeShowImage {
  z-index: -1;
}

#showPageBody {
  padding: 20px;
}

.adminControls {
  margin: 10px 0;
}

.tags {
  display: flex;
}

.title {
  margin-bottom: 0;
}
