#recipeShowImageContainer {
  position: relative;
  max-width: 900px;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#showPageBody > h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0;
}

/* #recipeShowImageContainer > h1 {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: red;
} */

/* #recipeShowImage {
  z-index: -1;
} */

.favoritesSection {
  display: flex;
  align-items: center;
  margin: 5px;
}

.favoritesSection > p {
  margin: 10px;
}

#showPageBody {
  padding: 20px;
}

.adminControls {
  width: fit-content;
  margin: 10px auto;
}

.tags {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
}
